@media screen and (max-width: 600px)

{
    span {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-size:70px;
        text-transform: uppercase;
        line-height: .8;
        transition: ease-out .6s;
      }

}